name: Run tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        lua: ["5.3", "5.4"]

    steps:
      - uses: actions/checkout@v4

      - uses: leafo/gh-actions-lua@v12
        with:
          luaVersion: ${{ matrix.lua }}

      - run: lua -v

      - name: Run tests
        run: make test

      - name: Test self build
        run: make test-self-build
